body {
	padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px; 
	background-color: #9c9c9c;
	text-align: center
}

h1 {
	font-size: 50px;
	
}

.linkek {
	padding-bottom: 30px;
	font-size: 25px;
	
	
}

.gallery {
	
	padding-left: 10px;
	padding-right: 10px;
	
}

.desc {
	
	padding-left: 50px;
	padding-right: 50px;
	
}

table {
	background-color: #808080;
}

div.gallery {
  margin: auto;
  border: 5px solid #4f4f4f;
  float: left;
  width: 350px;
  	background-color: #808080;

}

div.gallery:hover {
  border: 5px solid #212121;
  	background-color: #808080;
}

div.gallery img {
  width: 250px;
  height: auto;
  	background-color: #808080;
}

div.desc {
  padding: 10px;
  text-align: center;
  	background-color: #808080;
	
}
