body {
	padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px; 
	background-color: #9c9c9c;
	text-align: center
}

h1 {
	font-size: 50px;
	
}

.linkek {
	padding-bottom: 30px;
	font-size: 25px;
	
	
}

table {
	background-color: #808080;
}

div.gallery {
  margin: 5px;
  border: 5px solid #4f4f4f;
  float: left;
  width: 180px;
  	background-color: #808080;

}

div.gallery:hover {
  border: 5px solid #212121;
  	background-color: #808080;
}

div.gallery img {
  width: 100%;
  height: auto;
  	background-color: #808080;
}

div.desc {
  padding: 15px;
  text-align: center;
  	background-color: #808080;
	
}

img {
	
	width:250px;
	height: 250px;
}